.Home_Container{
    width: 100%;
    height: 100%;
    padding-top: 7.5rem;
}

.Home_Path_Container{
    padding-left: 181px;
}
.Home_Path_Wrapper{
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #616587;
    display: flex;
    align-items: center;
}
.Home_Path_Wrapper img{
    width: 24px;
    margin: 0 16px;
}